#turtleSettings
	top: 400px
	left: 300px
	width: 300px
	.add-on
		width: 100px;
	input
		width: 168px

	[class*="span"]
		margin-left: 0px

#lindenmayerSettings
	left:300px
	width: 330px

	.add-on
		width: 100px;
	input
		width: 168px
	[class*="span"]
		margin-left: 0px