


#lindenmayerSettings
	left:300px
	width: 330px

	.add-on
		width: 100px;
	input
		width: 168px
	[class*="span"]
		margin-left: 0px


.canvasContainer
	position: absolute;
	width: 100%
	overflow: scroll
	height: 100%