.hero-unit
  background-color: rgba(238, 238, 238, 0.6)


body 
  padding-top: 60px

@media (max-width: 979px) 
  body 
    padding-top: 0px

.well
	background-color: white

.draggableWindow
	padding: 12px
