extends layout

block content
	.hero-unit
		h1 Turtles on coffee
			
		:markdown
			An application that draws 
			[Turtle-Graphics](http://de.wikipedia.org/wiki/Turtle-Grafik).

			Fully written in 
			[CoffeeScript](http://coffeescript.org/), 
			using 
			[Bootstrap](http://twitter.github.io/bootstrap/)
			driven by 
			[node.js](nodejs.org) /
			[express](http://expressjs.com/)


			Play with the [Lindenmayer-Systems](/lindenmayer)
			or *click on the background* for a little demo

			*[Fork me on GitHub](https://github.com/macrozone/turtles-on-coffee)*

			



	



append scripts	

	!= js('random.js')