extends layout

block content
	.hero-unit
		h1 Turtles on coffee
			
		:markdown
			An application that draws
			[Turtle-Graphics](http://de.wikipedia.org/wiki/Turtle-Grafik)
			and [Lindenmayer-Systems](http://de.wikipedia.org/wiki/Lindenmayer-System)  
			Fully written in 
			[CoffeeScript](http://coffeescript.org/), 
			driven by
			[node.js](nodejs.org) /
			[express](http://expressjs.com/)  
			using
			[Bootstrap](http://twitter.github.io/bootstrap/)
			as HTML / CSS skelleton

			


			Play with the [Lindenmayer-Systems](/lindenmayer)
			or *click on the background* for a little demo

			*[Fork me on GitHub](https://github.com/macrozone/turtles-on-coffee)*


			*- Marco "[macorzone](mailto:macrozone@gmail.com)" Wettstein, 2013*

			


	+draggableWindow("Play -> Click on the Background").lindenmayer-settings#lindenmayerSettings
		
		

		.input-prepend.span12
			span.add-on Speed
			input#speed(type="number", placeholder="speed", value="1000")

		.input-prepend.span12
			span.add-on Angle °
			input#turtleAngle(type="text", placeholder="60", value="60" )
	

		.input-prepend.span12
			span.add-on Step Width
			input#turtleStepWidth(type="number", placeholder="20", value="20") 

		.input-prepend.span12
			span.add-on Connect Turtles
			input#connectMode(type="checkbox", value="1") 
		
		.input-prepend.span12
			span.add-on Color-Hue Rotationg Angle °
			input#colorRotatingAngle(type="number", placeholder="1", value="1")
		
		


	



append scripts	

	!= js('random.js')