doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title Turtles on Coffee
    != css('bootstrap.min.css')
    != css('bootstrap-responsive.min.css')
    != css('styles.css')

  body(data-view="#{view}")
    block navigation 
        .navbar.navbar-inverse.navbar-fixed-top
           .navbar-inner
             .container-fluid
               button.btn.btn-navbar(type="button",data-toggle="collapse",data-target=".nav-collapse")
                 span.icon-bar
                 span.icon-bar
                 span.icon-bar
                 
               a.brand(href="/") Turtles on Coffee
               .nav-collapse.collapse-navbar-responsive-collapse 
                  ul#mainNav.nav

                    li: a(href="/random") Random
                    li: a(href="/lindenmayer") Lindenmayer
                    li: a(href="/about") About
                ul.nav.pull-right
                  li: a#clearBackground(href="#") Clear Background
                    
    block content

    block scripts
        != js('all.js')

